{
  "extends": "airbnb",
  "rules": {
    "comma-dangle": [2, "never"],
    "no-underscore-dangle": 0,
    "import/newline-after-import": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "react/require-extension": 0,
    "no-restricted-syntax": 0,
    "react/jsx-filename-extension": 0
  },
  "globals": {
    "WaveSurfer": true,
    "window": true
  }
}
